

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: White;
}

input{
  background-color: White;
  outline: none;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 18px;
  width: 350px;
  height: 25px;
    border: 2px solid #b3a4a4;
}

label{
  margin-left: 18px;
  font-weight: bolder;
}

.container{
  background-color: whitesmoke;
  display: block;
  margin: auto;
  width:440px;
  height: 500px;
  border: 2px solid black;
  border-radius: 4px;
}

h2{
  color: Black;
  text-align: center;
}


#logIn{
    border: 1px solid;
	color: whitesmoke;
    padding: 7px 16px;
    border-radius: 50px;
    background-color: #006241;
    font-weight: 600;
    line-height: 1.2;
    transition: all .2s ease;
	height: 44px;
	margin-top: 50px;
    margin-left: 295px;
    width: 80px;
}

.block{
  padding-top: 50px;
  background-color: white;
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 200px;
  width:400px;
  height: 290px;
  border: 2px solid #75646452;
  border-radius: 4px;
}

a:link , a:visited{
	color: black;
}